* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

html {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  color: #111;
  min-height: 100%; }
  @media (min-width: 38em) {
    html {
      font-size: 20px; } }

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:focus {
    text-decoration: none; }
  a strong {
    color: inherit; }

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px; }

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #fff;
  border-collapse: collapse; }

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #fff; }

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #fff; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2rem; }

h2 {
  margin-top: 1rem;
  font-size: 1.5rem; }

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem; }

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

strong {
  color: inherit; }

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: .5rem; }

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; }

abbr {
  font-size: 85%;
  font-weight: bold;
  text-transform: uppercase; }

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #fff; }

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  border-left: 0.25rem solid #fff; }
  @media (min-width: 30em) {
    blockquote {
      padding-right: 5rem;
      padding-left: 1.25rem; } }

blockquote p:last-child {
  margin-bottom: 0; }

.lead {
  font-size: 1.5rem;
  font-weight: 300; }

/**
 * Syntax highlighting styles
 */
.hi-highlight,
.highlight,
.highlighttable,
.linenos {
  background: #2b3e50;
  border: none;
  margin-bottom: 0; }
  .hi-highlight .c,
  .highlight .c,
  .highlighttable .c,
  .linenos .c {
    color: #5c98cd;
    font-style: italic; }
  .hi-highlight .err,
  .highlight .err,
  .highlighttable .err,
  .linenos .err {
    color: #f8f8f0;
    background-color: #f92672; }
  .hi-highlight .k,
  .highlight .k,
  .highlighttable .k,
  .linenos .k {
    color: #ff6541;
    font-weight: bold; }
  .hi-highlight .o,
  .highlight .o,
  .highlighttable .o,
  .linenos .o {
    font-weight: bold; }
  .hi-highlight .cm,
  .highlight .cm,
  .highlighttable .cm,
  .linenos .cm {
    color: #5c98cd;
    font-style: italic; }
  .hi-highlight .cp,
  .highlight .cp,
  .highlighttable .cp,
  .linenos .cp {
    color: #5c98cd;
    font-weight: bold; }
  .hi-highlight .c1,
  .highlight .c1,
  .highlighttable .c1,
  .linenos .c1 {
    color: #5c98cd;
    font-style: italic; }
  .hi-highlight .cs,
  .highlight .cs,
  .highlighttable .cs,
  .linenos .cs {
    color: #5c98cd;
    font-weight: bold;
    font-style: italic; }
  .hi-highlight .gd,
  .highlight .gd,
  .highlighttable .gd,
  .linenos .gd {
    color: #000;
    background-color: #fdd; }
  .hi-highlight .gd .x,
  .highlight .gd .x,
  .highlighttable .gd .x,
  .linenos .gd .x {
    color: #000;
    background-color: #faa; }
  .hi-highlight .ge,
  .highlight .ge,
  .highlighttable .ge,
  .linenos .ge {
    font-style: italic; }
  .hi-highlight .gr,
  .highlight .gr,
  .highlighttable .gr,
  .linenos .gr {
    color: #a00; }
  .hi-highlight .gh,
  .highlight .gh,
  .highlighttable .gh,
  .linenos .gh {
    color: #5c98cd; }
  .hi-highlight .gi,
  .highlight .gi,
  .highlighttable .gi,
  .linenos .gi {
    color: #000;
    background-color: #dfd; }
  .hi-highlight .gi .x,
  .highlight .gi .x,
  .highlighttable .gi .x,
  .linenos .gi .x {
    color: #000;
    background-color: #afa; }
  .hi-highlight .go,
  .highlight .go,
  .highlighttable .go,
  .linenos .go {
    color: #888; }
  .hi-highlight .gp,
  .highlight .gp,
  .highlighttable .gp,
  .linenos .gp {
    color: #555; }
  .hi-highlight .gs,
  .highlight .gs,
  .highlighttable .gs,
  .linenos .gs {
    font-weight: bold; }
  .hi-highlight .gu,
  .highlight .gu,
  .highlighttable .gu,
  .linenos .gu {
    color: #aaa; }
  .hi-highlight .gt,
  .highlight .gt,
  .highlighttable .gt,
  .linenos .gt {
    color: #a00; }
  .hi-highlight .kc,
  .highlight .kc,
  .highlighttable .kc,
  .linenos .kc {
    font-weight: bold; }
  .hi-highlight .kd,
  .highlight .kd,
  .highlighttable .kd,
  .linenos .kd {
    color: #66D9EF;
    font-style: italic; }
  .hi-highlight .kp,
  .highlight .kp,
  .highlighttable .kp,
  .linenos .kp {
    font-weight: bold; }
  .hi-highlight .kr,
  .highlight .kr,
  .highlighttable .kr,
  .linenos .kr {
    color: #61bbc8;
    font-style: italic; }
  .hi-highlight .kt,
  .highlight .kt,
  .highlighttable .kt,
  .linenos .kt {
    color: #ff6541;
    font-weight: bold; }
  .hi-highlight .m,
  .highlight .m,
  .highlighttable .m,
  .linenos .m {
    color: #ca94ff; }
  .hi-highlight .s,
  .highlight .s,
  .highlighttable .s,
  .linenos .s {
    color: #E6DB74; }
  .hi-highlight .na,
  .highlight .na,
  .highlighttable .na,
  .linenos .na {
    color: #008080; }
  .hi-highlight .nb,
  .highlight .nb,
  .highlighttable .nb,
  .linenos .nb {
    color: #0086B3; }
  .hi-highlight .nc,
  .highlight .nc,
  .highlighttable .nc,
  .linenos .nc {
    color: #66D9EF;
    font-style: italic; }
  .hi-highlight .no,
  .highlight .no,
  .highlighttable .no,
  .linenos .no {
    color: #ca94ff; }
  .hi-highlight .ni,
  .highlight .ni,
  .highlighttable .ni,
  .linenos .ni {
    color: #800080; }
  .hi-highlight .ne,
  .highlight .ne,
  .highlighttable .ne,
  .linenos .ne {
    color: #900;
    font-weight: bold; }
  .hi-highlight .nf,
  .highlight .nf,
  .highlighttable .nf,
  .linenos .nf {
    color: #900;
    font-weight: bold; }
  .hi-highlight .nn,
  .highlight .nn,
  .highlighttable .nn,
  .linenos .nn {
    color: #555; }
  .hi-highlight .nt,
  .highlight .nt,
  .highlighttable .nt,
  .linenos .nt {
    color: #000080; }
  .hi-highlight .nv,
  .highlight .nv,
  .highlighttable .nv,
  .linenos .nv {
    color: #008080; }
  .hi-highlight .nx,
  .highlight .nx,
  .highlighttable .nx,
  .linenos .nx {
    color: #E6DB74; }
  .hi-highlight .ow,
  .highlight .ow,
  .highlighttable .ow,
  .linenos .ow {
    font-weight: bold; }
  .hi-highlight .w,
  .highlight .w,
  .highlighttable .w,
  .linenos .w {
    color: #61bbc8; }
  .hi-highlight .mf,
  .highlight .mf,
  .highlighttable .mf,
  .linenos .mf {
    color: #ca94ff; }
  .hi-highlight .mh,
  .highlight .mh,
  .highlighttable .mh,
  .linenos .mh {
    color: #ca94ff; }
  .hi-highlight .mi,
  .highlight .mi,
  .highlighttable .mi,
  .linenos .mi {
    color: #ca94ff; }
  .hi-highlight .mo,
  .highlight .mo,
  .highlighttable .mo,
  .linenos .mo {
    color: #ca94ff; }
  .hi-highlight .sb,
  .highlight .sb,
  .highlighttable .sb,
  .linenos .sb {
    color: #E6DB74; }
  .hi-highlight .sc,
  .highlight .sc,
  .highlighttable .sc,
  .linenos .sc {
    color: #E6DB74; }
  .hi-highlight .sd,
  .highlight .sd,
  .highlighttable .sd,
  .linenos .sd {
    color: #E6DB74; }
  .hi-highlight .s2,
  .highlight .s2,
  .highlighttable .s2,
  .linenos .s2 {
    color: #E6DB74; }
  .hi-highlight .se,
  .highlight .se,
  .highlighttable .se,
  .linenos .se {
    color: #E6DB74; }
  .hi-highlight .sh,
  .highlight .sh,
  .highlighttable .sh,
  .linenos .sh {
    color: #E6DB74; }
  .hi-highlight .si,
  .highlight .si,
  .highlighttable .si,
  .linenos .si {
    color: #E6DB74; }
  .hi-highlight .sx,
  .highlight .sx,
  .highlighttable .sx,
  .linenos .sx {
    color: #E6DB74; }
  .hi-highlight .sr,
  .highlight .sr,
  .highlighttable .sr,
  .linenos .sr {
    color: #E6DB74; }
  .hi-highlight .s1,
  .highlight .s1,
  .highlighttable .s1,
  .linenos .s1 {
    color: #E6DB74; }
  .hi-highlight .ss,
  .highlight .ss,
  .highlighttable .ss,
  .linenos .ss {
    color: #DA1F66; }
  .hi-highlight .bp,
  .highlight .bp,
  .highlighttable .bp,
  .linenos .bp {
    color: #999; }
  .hi-highlight .vc,
  .highlight .vc,
  .highlighttable .vc,
  .linenos .vc {
    color: #66D9EF;
    font-style: italic; }
  .hi-highlight .vg,
  .highlight .vg,
  .highlighttable .vg,
  .linenos .vg {
    color: #008080; }
  .hi-highlight .vi,
  .highlight .vi,
  .highlighttable .vi,
  .linenos .vi {
    color: #008080; }
  .hi-highlight .il,
  .highlight .il,
  .highlighttable .il,
  .linenos .il {
    color: #ca94ff; }
  .hi-highlight .lineno,
  .highlight .lineno,
  .highlighttable .lineno,
  .linenos .lineno {
    opacity: 0.5; }
  .hi-highlight tbody,
  .hi-highlight td,
  .hi-highlight th,
  .highlight tbody,
  .highlight td,
  .highlight th,
  .highlighttable tbody,
  .highlighttable td,
  .highlighttable th,
  .linenos tbody,
  .linenos td,
  .linenos th {
    background-color: #2b3e50;
    border: none;
    padding: 0;
    margin: 0; }

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace; }

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #F8F8F2;
  background-color: #2b3e50;
  border-radius: 3px; }

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #2b3e50; }

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: #2b3e50; }

.highlight, .linenodiv {
  border-radius: 4px; }

.highlight pre, .linenos pre {
  margin-bottom: 0; }

.linenos code {
  opacity: 0.50; }

.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important; }

.gist .markdown-body {
  padding: 15px; }

.gist pre {
  padding: 0;
  background-color: transparent; }

.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4; }

.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0; }

table.highlighttable {
  overflow-x: auto;
  display: block; }

table.highlighttable td.code {
  width: 100%; }

pre, code, .linenos, .highlight {
  white-space: pre; }

.highlight {
  min-width: 110%; }

.container {
  background: inherit;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 90%;
  border: 1px solid #AAA; }

footer p {
  font-size: 80%;
  margin-bottom: 0;
  text-align: left; }

header.c {
  position: relative; }
  header.c h1 {
    margin: 0 10px;
    border: 1px solid #AAA;
    border-bottom: none;
    display: inline-block;
    padding: 0 1rem;
    color: #5c98cd;
    font-style: italic;
    font-weight: normal; }
    header.c h1:before {
      content: '//';
      display: inline-block;
      width: auto;
      padding-right: .2rem; }

h1 a {
  color: #111; }

.center {
  text-align: center;
  position: relative;
  top: 50%;
  margin: 0 auto;
  max-width: 80%;
  transform: perspective(1px) translateY(-60%); }
