header.c {
  position: relative;

  h1 {
    margin: 0 10px;
    border: 1px solid #AAA;
    border-bottom: none;
    display: inline-block;
    padding: 0 1rem;
    color: #5c98cd;
    font-style: italic;
    font-weight: normal;

    &:before {
      content: '//';
      display: inline-block;
      width: auto;
      padding-right: .2rem;
    }
  }
}
