// Layout styles for managing the structural hierarchy of the site.

.container {
  background: inherit;
  width: 100%;
  margin-left:  auto;
  margin-right: auto;
  min-height: 90%;
  border: 1px solid #AAA;
}

footer {
  p {
    font-size: 80%;
    margin-bottom: 0;
    text-align: left;
  }
}
