// Imports
@import "variables";
@import "base";
@import "type";

html,
body {
  max-height: 100%;
  overflow-y: hidden;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-name: height;

  header,
  section,
  footer {
    height: 0;
    animation-duration: 0.0001s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-name: show;
  }
}

header {
  color: #fff;
  text-align: center;
  margin: 2rem auto 0;

  text {
    font-size: 2rem;
    text-anchor: middle;
      @media (min-width: 38em) {
      font-size: 1rem;
    }
  }
}

section > div,
footer > ul {
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem 1rem;
}

section,
footer {
  position: relative;
}

.sawtooth {
  background-color: #7FDBFF;
}

.sawtooth::before,
.sawtooth::after {
  content: '';
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNSA1MCIgd2lkdGg9IjMwIiBoZWlnaHQ9IjEwMCI+CjxwYXRoIGQ9Ik0wIDUwIEwwIDE1IEw3LjUgMCBMMTUgMTUgTDE1IDUwWiIgZmlsbD0iIzdGREJGRiI+PC9wYXRoPgo8L3N2Zz4=");
  background-size: auto 100px;
  background-repeat: repeat-x;
  position: absolute;
  left: -5%;
  height: 100px;
  width: 110%;
  animation-duration: 1.25s, 1s;
  animation-timing-function: ease-out, linear;
  animation-iteration-count: 1, infinite;
  animation-name: fadein, saw;
  -webkit-transform: perspective(1px) rotate(-1deg);
     -moz-transform: perspective(1px) rotate(-1deg);
       -o-transform: perspective(1px) rotate(-1deg);
          transform: perspective(1px) rotate(-1deg);
}

.sawtooth::before {
  top: -50px;
}

.sawtooth::after {
  animation-direction: normal, reverse;
  bottom: -50px;
  -webkit-transform: scaleY(-1) perspective(1px) rotate(1deg);
     -moz-transform: scaleY(-1) perspective(1px) rotate(1deg);
       -o-transform: scaleY(-1) perspective(1px) rotate(1deg);
          transform: scaleY(-1) perspective(1px) rotate(1deg);
}

.clients {
  color: #fff;
  padding: 4rem 0 0;

  ul {
    list-style-type: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
  }

  li {
    margin: 1rem auto;
    width: 100%;
    max-width: 6rem;
    height: auto;
    @media (max-width: 30em) {
      max-width: 14rem;
    }

    svg {
      display: inline-block;
    }

    path,
    polygon {
      fill: #f00;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      animation-play-state: running;
      animation-name: fill0;
    }

    &:nth-of-type(1) path, &:nth-of-type(1) polygon { animation-name: fill1; }
    &:nth-of-type(2) path, &:nth-of-type(2) polygon { animation-name: fill2; }
    &:nth-of-type(3) path, &:nth-of-type(3) polygon { animation-name: fill3; }
    &:nth-of-type(4) path, &:nth-of-type(4) polygon { animation-name: fill4; }
    &:nth-of-type(5) path, &:nth-of-type(5) polygon { animation-name: fill5; }
  }
}


.point,
footer {
  background-color: #2ECC40;
}

.point::before,
.point::after {
  content: '';
  background-size: 30px 40px;
  background-repeat: repeat-x;
  position: absolute;
  left: -5%;
  height: 40px;
  width: 110%;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.point::before{
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCAxMiAxNiIgdmVyc2lvbj0iMS4xIiBhcmlhLWhpZGRlbj0idHJ1ZSI+CiAgPHBhdGggZmlsbD0iIzJFQ0M0MCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNiAwQzIuNjkgMCAwIDIuNSAwIDUuNSAwIDEwLjAyIDYgMTYgNiAxNnM2LTUuOTggNi0xMC41QzEyIDIuNSA5LjMxIDAgNiAwem0wIDE0LjU1QzQuMTQgMTIuNTIgMSA4LjQ0IDEgNS41IDEgMy4wMiAzLjI1IDEgNiAxYzEuMzQgMCAyLjYxLjQ4IDMuNTYgMS4zNi45Mi44NiAxLjQ0IDEuOTcgMS40NCAzLjE0IDAgMi45NC0zLjE0IDcuMDItNSA5LjA1ek04IDUuNWMwIDEuMTEtLjg5IDItMiAyLTEuMTEgMC0yLS44OS0yLTIgMC0xLjExLjg5LTIgMi0yIDEuMTEgMCAyIC44OSAyIDJ6Ij48L3BhdGg+PC9zdmc+");
  top: -10px;
  animation-name: point;
}

.point::after{
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCAxMiAxNiIgdmVyc2lvbj0iMS4xIiBhcmlhLWhpZGRlbj0idHJ1ZSI+CiAgPHBhdGggZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNiAwQzIuNjkgMCAwIDIuNSAwIDUuNSAwIDEwLjAyIDYgMTYgNiAxNnM2LTUuOTggNi0xMC41QzEyIDIuNSA5LjMxIDAgNiAwem0wIDE0LjU1QzQuMTQgMTIuNTIgMSA4LjQ0IDEgNS41IDEgMy4wMiAzLjI1IDEgNiAxYzEuMzQgMCAyLjYxLjQ4IDMuNTYgMS4zNi45Mi44NiAxLjQ0IDEuOTcgMS40NCAzLjE0IDAgMi45NC0zLjE0IDcuMDItNSA5LjA1ek04IDUuNWMwIDEuMTEtLjg5IDItMiAyLTEuMTEgMC0yLS44OS0yLTIgMC0xLjExLjg5LTIgMi0yIDEuMTEgMCAyIC44OSAyIDJ6Ij48L3BhdGg+PC9zdmc+");
  top: 0px;
  background-position: 0 -10px;
  animation-name: pointwhite;
}

.social {
  list-style-type: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: left;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;

  li {
    display: inline-block;
    width: auto;
    min-width: 1rem;
    margin-right: 1rem;
  }
}


footer {
  color: #111;
  font-size: .6rem;
  position: relative;
  height: 2rem;

  path,
  polygon {
    fill:  #111;
  }

  a:hover,
  a:hover svg,
  a:hover path,
  a:hover polygon {
    background: none;
    fill:  #fff;
  }

  ul {
    position: absolute;
    right: 0;
    list-style-type: none;
    padding: 0 1rem 0.5rem;
  }

  li {
    display: inline-block;
    position: relative;
    width: auto;
    min-width: .5rem;
    margin-right: 1rem;
    margin-left: 0.5rem;

    &::before {
      content: '|';
      display: inline;
      position: absolute;
      right: -0.7rem;
      width: 3px;
    }

    &:last-of-type::before {
      content: '';
    }
  }
}

.logo-gate {
  background-color: transparent;
  color: $white;
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;

  span {
    background-color: rgba(0,32,63,1);
    display: block;
    position: absolute;
    top:  50%;
    left: 0;
    transform: perspective(1px) translateY(-50%);
    z-index: 1;
    right: 0;
    width: 5rem;
    margin: 0 auto 0 -2rem;
    font-size: 3rem;
    height: 5rem;
    text-align: center;
    animation-direction: normal;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-name: openright;
  }

  &::before,
  &::after {
    background-color: rgba(0,32,63,1);
    background-color: -webkit-linear-gradient(top, rgba(0,32,63,1) 0%, rgba(0,10,20,1) 100%);
    background-color: linear-gradient(to bottom, rgba(0,32,63,1) 0%, rgba(0,10,20,1) 100%);
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    min-height: 100%;
    animation-direction: normal;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-name: openleft;
  }
  &::after {
    background-color: rgba(0,32,63,1);
    background-color: -webkit-linear-gradient(top, rgba(0,32,63,1) 0%, rgba(0,10,20,1) 100%);
    background-color: linear-gradient(to bottom, rgba(0,32,63,1) 0%, rgba(0,10,20,1) 100%);
    left: 50%;
    animation-name: openright;
  }
}

// animations
html:hover,
html:hover *,
html:hover *::before,
html:hover *::after,
html:active,
html:active *,
html:active *::before,
html:active *::after {
  animation-play-state: running;
}

@keyframes height {
  0% {
    overflow-y: hidden;
    max-height: 100%;
  }
  100% {
    overflow-y: visible;
    max-height: none;
  }
}

@keyframes show {
  0% {
    height: 0;
  }
  100% {
    height: auto;
  }
}

@keyframes fill0 {
    0% { fill: $blue; }
   10% { fill: $teal; }
   20% { fill: $olive; }
   30% { fill: $green; }
   40% { fill: $lime; }
   50% { fill: $yellow; }
   60% { fill: $orange; }
   70% { fill: $red; }
   80% { fill: $fuschia; }
   90% { fill: $orange; }
  100% { fill: $blue; }
}

@keyframes fill1 {
    0% { fill: $teal; }
   10% { fill: $olive; }
   20% { fill: $green; }
   30% { fill: $lime; }
   40% { fill: $yellow; }
   50% { fill: $orange; }
   60% { fill: $red; }
   70% { fill: $fuschia; }
   80% { fill: $orange; }
   90% { fill: $blue; }
  100% { fill: $blue; }
}
@keyframes fill2 {
    0% { fill: $olive; }
   10% { fill: $green; }
   20% { fill: $lime; }
   30% { fill: $yellow; }
   40% { fill: $orange; }
   50% { fill: $red; }
   60% { fill: $fuschia; }
   70% { fill: $orange; }
   80% { fill: $blue; }
   90% { fill: $blue; }
  100% { fill: $teal; }
}
@keyframes fill3 {
    0% { fill: $green; }
   10% { fill: $lime; }
   20% { fill: $yellow; }
   30% { fill: $orange; }
   40% { fill: $red; }
   50% { fill: $fuschia; }
   60% { fill: $orange; }
   70% { fill: $blue; }
   80% { fill: $blue; }
   90% { fill: $teal; }
  100% { fill: $olive; }
}
@keyframes fill4 {
    0%  { fill: $lime; }
   10%  { fill: $yellow; }
   20%  { fill: $orange; }
   30%  { fill: $red; }
   40%  { fill: $fuschia; }
   50%  { fill: $orange; }
   60%  { fill: $blue; }
   70%  { fill: $blue; }
   80%  { fill: $teal; }
   90%  { fill: $olive; }
  100%  { fill: $green; }
}
@keyframes fill5 {
    0% { fill: $yellow; }
   10% { fill: $orange; }
   20% { fill: $red; }
   30% { fill: $fuschia; }
   40% { fill: $orange; }
   50% { fill: $blue; }
   60% { fill: $blue; }
   70% { fill: $teal; }
   80% { fill: $olive; }
   90% { fill: $green; }
  100% { fill: $lime; }
}

@keyframes saw {
    0% { background-position-x: 0px; }
  100% { background-position-x: 30px; }
}

@keyframes point {
    0% { top: -10px; }
  100% { top: -25px; }
}

@keyframes pointwhite {
    0% { background-position: 0 -10px; }
  100% { background-position: 0 -25px; }
}

@keyframes openleft {
    0% { left: 0; }
  100% { left: -200%; }
}

@keyframes openright {
    0% { left: 50%; }
  100% { left: 200%; }
}
