.sawtooth {
  background-color: $aqua;
}

.sawtooth::before,
.sawtooth::after {
  content: '';
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNSA1MCIgd2lkdGg9IjMwIiBoZWlnaHQ9IjEwMCI+CjxwYXRoIGQ9Ik0wIDUwIEwwIDE1IEw3LjUgMCBMMTUgMTUgTDE1IDUwWiIgZmlsbD0iIzdGREJGRiI+PC9wYXRoPgo8L3N2Zz4=");
  background-size: auto 100px;
  background-repeat: repeat-x;
  position: absolute;
  left: -5%;
  height: 100px;
  width: 110%;
  animation-duration: 1.25s, 1s;
  animation-timing-function: ease-out, linear;
  animation-iteration-count: 1, infinite;
  animation-name: fadein, saw;
  -webkit-transform: perspective(1px) rotate(-1deg);
     -moz-transform: perspective(1px) rotate(-1deg);
       -o-transform: perspective(1px) rotate(-1deg);
          transform: perspective(1px) rotate(-1deg);
}

.sawtooth::before {
  top: -50px;
}

.sawtooth::after {
  animation-direction: normal, reverse;
  bottom: -50px;
  -webkit-transform: scaleY(-1) perspective(1px) rotate(1deg);
     -moz-transform: scaleY(-1) perspective(1px) rotate(1deg);
       -o-transform: scaleY(-1) perspective(1px) rotate(1deg);
          transform: scaleY(-1) perspective(1px) rotate(1deg);
}
