// Typography
//
// Headings, body text, lists, and other misc typographic elements.

// Headings
h1 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}

// Body text
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p:first-of-type {
  font-size: 1.5rem;
  font-weight: 300;
}
