* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
  background: rgba(0,32,63,1);
  background: -webkit-linear-gradient(top, rgba(0,32,63,1) 0%, rgba(0,10,20,1) 100%);
  background: linear-gradient(to bottom, rgba(0,32,63,1) 0%, rgba(0,10,20,1) 100%);
  padding-top: 6rem;
  overflow-x: hidden;
}

html {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #111;
  min-height: 100%;
}

@media (min-width: 38em) {
  html {
    font-size: 24px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: #0074D9;
}

a:hover,
a:hover svg {
  color: #fff;
  background: #0074D9;
}

a:hover path, a:hover polygon {
  fill: #fff;
}

h1,
h2 {
  margin: 0 0 .5rem;
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin-top: 1rem;
  font-size: 1.25rem;
}

header {
  text-align: center;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  transform: perspective(1px) translateY(-50%);
  padding: 40% 0;
  z-index: 1;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-delay: 0s;
  animation-duration: 1.5s;
  animation-name: moveup;
}

header span {
  display: inline-block;
  line-height: 2;
  margin: 0 auto;
  overflow-x: hidden;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

header span:not(.nested) {
  width: 2.5rem;
  animation-name: shrink;
  animation-delay: 0s;
  animation-duration: .25s;
}

header span:not(.nested)::after {
  content: '{';
  display: inline;
}

header span:not(.nested):last-of-type::after {
  content: '}';
}

header span.nested {
  max-width: 0;
  margin: 0;
  animation-name: stretch;
  animation-duration: 1s;
  animation-delay: 0.3s;
}

section > div {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}

section {
  position: relative;
  opacity: 0;
  animation-duration: .75s;
  animation-timing-function: ease-out;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-name: fadein;
  animation-delay: 1s;
}

.sawtooth {
  background-color: #FF4136;
  margin-left: -5%;
  margin-top: -1rem;
  width: 110%;
  -webkit-transform: perspective(1px) rotate(-1deg);
     -moz-transform: perspective(1px) rotate(-1deg);
       -o-transform: perspective(1px) rotate(-1deg);
          transform: perspective(1px) rotate(-1deg);
}

.sawtooth div {
  -webkit-transform: perspective(1px) rotate(1deg);
     -moz-transform: perspective(1px) rotate(1deg);
       -o-transform: perspective(1px) rotate(1deg);
          transform: perspective(1px) rotate(1deg);
}

.sawtooth::before,
.sawtooth::after {
  content: '';
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxwYXRoIGQ9Ik0wIDE1TDcuNSAwTDE1IDE1WiIgZmlsbD0iI0ZGNDEzNiI+PC9wYXRoPgo8L3N2Zz4=");
  background-size: auto 35px;
  background-repeat: repeat-x;
  position: absolute;
  left: 0;
  height: 35px;
  width: 100%;
  animation-duration: .75s, 1s;
  animation-timing-function: ease-out, linear;
  animation-iteration-count: 1, infinite;
  animation-name: fadein, saw;
}

.sawtooth::before {
  top: -35px;
}

.sawtooth::after {
  animation-direction: normal, reverse;
  bottom: -35px;
  -webkit-transform: scaleY(-1);
     -moz-transform: scaleY(-1);
       -o-transform: scaleY(-1);
          transform: scaleY(-1);
}

.clients {
  list-style-type: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
}

.clients li {
  margin: 1rem auto;
  width: 100%;
  max-width: 6rem;
  height: auto;
}

.clients li svg {
  display: inline-block;
}

.clients path,
.clients polygon {
  fill: #f00;
  animation-duration: 10s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: fill;
  animation-delay: 1s;
}

.clients li:nth-of-type(1) path, .clients li:nth-of-type(1) polygon { animation-delay: 1s; }
.clients li:nth-of-type(2) path, .clients li:nth-of-type(2) polygon { animation-delay: 2s; }
.clients li:nth-of-type(3) path, .clients li:nth-of-type(3) polygon { animation-delay: 3s; }
.clients li:nth-of-type(4) path, .clients li:nth-of-type(4) polygon { animation-delay: 4s; }
.clients li:nth-of-type(5) path, .clients li:nth-of-type(5) polygon { animation-delay: 5s; }

.point {
  background-color: #2ECC40;
}

.point > div {
  padding: 3rem 1rem;
}

.point::before{
  content: '';
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjU2IiBoZWlnaHQ9IjI1NiIgdmlld0JveD0iMCAwIDEyIDE2IiB2ZXJzaW9uPSIxLjEiIGFyaWEtaGlkZGVuPSJ0cnVlIj4KICA8cGF0aCBmaWxsPSIjMkVDQzQwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik02IDBDMi42OSAwIDAgMi41IDAgNS41IDAgMTAuMDIgNiAxNiA2IDE2czYtNS45OCA2LTEwLjVDMTIgMi41IDkuMzEgMCA2IDB6bTAgMTQuNTVDNC4xNCAxMi41MiAxIDguNDQgMSA1LjUgMSAzLjAyIDMuMjUgMSA2IDFjMS4zNCAwIDIuNjEuNDggMy41NiAxLjM2LjkyLjg2IDEuNDQgMS45NyAxLjQ0IDMuMTQgMCAyLjk0LTMuMTQgNy4wMi01IDkuMDV6TTggNS41YzAgMS4xMS0uODkgMi0yIDItMS4xMSAwLTItLjg5LTItMiAwLTEuMTEuODktMiAyLTIgMS4xMSAwIDIgLjg5IDIgMnoiPjwvcGF0aD48L3N2Zz4=");
  background-size: auto 75px;
  background-repeat: repeat-x;
  position: absolute;
  top: -10px;
  left: 0;
  height: 75px;
  width: 100%;
  animation-direction: normal, alternate;
  animation-duration: .75s, 3s;
  animation-timing-function: ease-out, linear;
  animation-iteration-count: 1, infinite;
  animation-name: fadein, point;
}

.social {
  list-style-type: none;
  padding: 0;
}

.social li {
  display: inline-block;
  width: auto;
  min-width: 30px;
  margin-right: 1rem;
}

header:hover,
header:hover span,
header:hover ~ section,
header:active,
header:active span,
header:active ~ section {
  animation-play-state: running;
}

@keyframes moveup {
  0% {
    top: 50%;
  }
  /* 50% {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    position: relative;
    top: 0;
    padding: 2.5rem 0;
    transform: perspective(0) translateY(0);
  } */
  100% {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    /* position: relative; */
    top: 0;
    padding: 2.5rem 0;
    transform: perspective(0) translateY(0);
  }
}

@keyframes shrink {
  0% {
    width: 2.25rem;
  }
  100% {
    width: 1rem;
  }
}

@keyframes stretch {
  0% {
    max-width: 0;
    margin: 0;
  }
  1% {
    max-width: 0;
    margin: 0 1rem;
  }
  100% {
    max-width: 100%;
    margin: 0 1rem;
  }
}

@keyframes slideup {
  0% {
    line-height: 0;
  }
  100% {
    line-height: 1.1;
    margin-bottom: .5rem;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fill {
    0% { fill: #001f3f; }
   10% { fill: #0074D9; }
   20% { fill: #39CCCC; }
   30% { fill: #3D9970; }
   40% { fill: #2ECC40; }
   50% { fill: #01FF70; }
   60% { fill: #FFDC00; }
   70% { fill: #FF851B; }
   80% { fill: #FF4136; }
   90% { fill: #F012BE; }
  100% { fill: #001f3f; }
}

@keyframes saw {
    0% { background-position-x: 0px; }
  100% { background-position-x: 35px; }
}

@keyframes point {
    0% { top: -10px; }
  100% { top: -25px; }
}
