* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

html {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  color: #111;
  min-height: 100%;
  overflow-y: hidden; }
  @media (min-width: 38em) {
    html {
      font-size: 30px; } }

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  text-decoration: none;
  color: #0074D9; }
  a:hover {
    text-decoration: underline; }
  a:focus {
    text-decoration: none; }

h1 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

p:first-of-type {
  font-size: 1.5rem;
  font-weight: 300; }

body div {
  text-align: center;
  position: relative;
  top: 50%;
  margin: 0 auto;
  max-width: 80%;
  transform: perspective(1px) translateY(-60%); }

body h1 a {
  color: #111; }
  body h1 a:hover {
    text-decoration: none; }

body span {
  display: inline-block;
  width: auto;
  line-height: 2;
  margin: 0 auto;
  overflow-x: hidden; }
  body span.nested {
    max-width: 0;
    margin: 0;
    animation-name: stretch;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused; }

body p:first-of-type {
  line-height: 0;
  overflow-y: hidden;
  animation-name: slideup;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: .5s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused; }

body p:last-of-type {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused; }

body:hover h1, body:hover p, body:active h1, body:active p {
  animation-play-state: running; }

@keyframes stretch {
  0% {
    max-width: 0;
    margin: 0; }
  1% {
    max-width: 0;
    margin: 0 1rem; }
  100% {
    max-width: 100%;
    margin: 0 1rem; } }

@keyframes slideup {
  0% {
    line-height: 0; }
  100% {
    line-height: 1.1; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
